 .content{
    /*
    background: rgb(50,14,112);
    background: linear-gradient(189deg, rgba(50,14,112,1) 0%, rgba(36,150,145,1) 100%); */
    background-color:hsla(217,79%,53%,1);
    background-image:
    radial-gradient(at 84% 7%, hsla(235,95%,69%,1) 0px, transparent 50%),
    radial-gradient(at 11% 13%, hsla(223,67%,64%,1) 0px, transparent 50%),
    radial-gradient(at 5% 33%, hsla(229,79%,69%,1) 0px, transparent 50%),
    radial-gradient(at 13% 2%, hsla(210,94%,53%,1) 0px, transparent 50%),
    radial-gradient(at 57% 82%, hsla(231,72%,55%,1) 0px, transparent 50%),
    radial-gradient(at 50% 15%, hsla(236,95%,54%,1) 0px, transparent 50%),
    radial-gradient(at 73% 38%, hsla(205,54%,32%,1) 0px, transparent 50%);
    /*background-color: rgb(85, 85, 85);*/
    /* background-image: url(https://www.imagui.com/i/hd-fondos-pantalla-azul-textura-textura-18484502.webp); */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
    background-size: cover; /* Hace que la imagen de fondo cubra toda la pantalla */
    background-position: top left; /* Fija el fondo en la esquina superior izquierda */
    background-attachment: fixed; /* Evita que el fondo se deslice al hacer scroll */
    padding-top: 110px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

@media (max-width:600px){
    .content {
        padding-left: 1px;
        padding-right: 1px;
    }
}