 .content{
    /*
    background: rgb(50,14,112);
    background: linear-gradient(189deg, rgba(50,14,112,1) 0%, rgba(36,150,145,1) 100%); */
    background-color:hsla(201,8%,21%,1);
    background-image:
    radial-gradient(at 95% 3%, hsla(0,1%,45%,1) 0px, transparent 50%),
    radial-gradient(at 52% 4%, hsla(223,5%,14%,1) 0px, transparent 50%),
    radial-gradient(at 0% 59%, hsla(226,2%,40%,1) 0px, transparent 50%),
    radial-gradient(at 100% 65%, hsla(211,3%,14%,1) 0px, transparent 50%),
    radial-gradient(at 86% 67%, hsla(209,2%,54%,1) 0px, transparent 50%),
    radial-gradient(at 21% 98%, hsla(240,2%,13%,1) 0px, transparent 50%),
    radial-gradient(at 12% 0%, hsla(205,4%,53%,1) 0px, transparent 50%);
    /*background-color: rgb(85, 85, 85);*/
    /* background-image: url(https://www.imagui.com/i/hd-fondos-pantalla-azul-textura-textura-18484502.webp); */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la pantalla */
    background-size: cover; /* Hace que la imagen de fondo cubra toda la pantalla */
    background-position: top left; /* Fija el fondo en la esquina superior izquierda */
    background-attachment: fixed; /* Evita que el fondo se deslice al hacer scroll */
    padding-top: 110px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}


@media (max-width:600px){
    .content {
        padding-left: 1px;
        padding-right: 1px;
    }
}